html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#logo{
  display: inline-block;
  float:left;
  font-size: 40px;
  padding: 6px 14px 0 14px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: rgba(255,127,80,.8);
  color: white;
  border-radius: 10px;
  margin-top: .03px;
}



nav{

position: absolute;
top:0px;
width:100%;
background:transparent;
height: 10vh;
padding: 1% 4%;


}

ul {
float: right;
display: inline-block;
}

.nav-list{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  margin: 0 7px;
  color: whitesmoke;
  border: 1px solid white;
  padding: 7px;
}



.App-header {
  height: 100vh;
  margin-top: -23px;
}


.sub-header{
  width: 40%;
  height: 40vh;
  margin: 0 auto;
  background: rgba(169,169,169,.5);
  padding-top: 20px;
}

h1{
  font-size: 50px;
}

.main-content{
  padding: 0 5%;
  background: red;
  height: 300px;
  margin: 50px;
}

.section{
  width: 50%;
  display: inline-block;
  float: left;
}
.section2{
  width: 50%;
  background-color: orange;
  height: 100%;
  display: inline-block;
  float: right;
}

.form-box{
  height:50px;
  background: gray;
  color: white;
}

.orange{
  background: orange;
  text-align: center;
  padding: 30px;
}
.recipe{
margin-top: 10px;
border: 1px solid black;
padding: 20px;
}

.footer{
height: 20px;
background: black;
color: white;
}

.recipe-box{
  background: gray;
  margin: 30px;
  padding: 10px;
}
.recipe-image{
  height: 400px;
  width: 400px;
  border-radius: 30px;

}
